<launch>
  
  <include file="$(find robot_localization)/launch/static_tf_publisher.launch"/>

  <include file="$(find robot_localization)/launch/tf_publisher.launch"/>

  <node pkg="robot_localization" type="setInitialPose_node" name="set_initial_pose"/>

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_utm" clear_params="true">
    <rosparam command="load" file="$(find robot_localization)/params/ekf_utm.yaml"/>
    <!--  Output topic remapping -->
    <!-- <remap from="odometry/filtered" to=""/> --> 
  </node>

</launch>