<launch>

<!-- Arguments -->
<arg name="save_dir" default="$(find robot_localization)/launch"/>
<arg name="prefix" default="ekf_log"/>

<!-- Data logger -->
<node pkg="rosbag" type="record" name="logger" output="screen"	
      args="-o $(arg save_dir)/$(arg prefix) --split --size=2000
            /odom
            /odometry/filtered_odom
            /span/pose
            /span/status
            /garmin_gps/fix
            /garmin_gps/odom
            /imu/data
            /vehicle_state/velocity
            /rosout
            /rosout_agg"/>

</launch>
