<launch>

 <node pkg="robot_localization" type="rpy_publisher.py" name="rpy_publisher">
 	<!--  Subscribed topic remapping -->
 	<!-- Filter -->
    <!-- <remap from="/odometry/filtered" to=""/>  -->
    <!-- Ground Truth -->
    <!-- <remap from="/span/pose" to="/odom"/> -->
    <!-- IMU -->
    <!-- <remap from="/imu/data" to=""/> -->
 </node>	

</launch>