<launch>
 
<!-- Test -->
<node pkg="tf2_ros" type="static_transform_publisher" name="newA_to_oldA" args="-2 0 0 -1.5708 3.1416 0 newA oldA"/>
<!-- oldA to oldB -->
<node pkg="tf2_ros" type="static_transform_publisher" name="oldA_to_oldA_Rz"   args="1 1 0 -0.5236 0 0 oldA oldA_Rz"/>
<node pkg="tf2_ros" type="static_transform_publisher" name="oldA_to_oldA_RzRy" args="1 1 0 -0.5236 1.0472 0 oldA oldA_RzRy"/>
<node pkg="tf2_ros" type="static_transform_publisher" name="oldA_to_oldB"      args="1 1 0 -0.5236 1.0472 0.7854 oldA oldB"/>
<!-- newA to newB -->
<node pkg="tf2_ros" type="static_transform_publisher" name="newA_to_newA_Rz"   args="-1 1 0 0.5236 0 0 newA newA_Rz"/>
<node pkg="tf2_ros" type="static_transform_publisher" name="newA_to_newA_RzRy" args="-1 1 0 0.5236 0.7854 0 newA newA_RzRy"/>
<node pkg="tf2_ros" type="static_transform_publisher" name="newA_to_newB"      args="-1 1 0 0.5236 0.7854 1.0472 newA newB"/>
<!-- newA to newC -->
<node pkg="tf2_ros" type="static_transform_publisher" name="newA_to_newC" args="-1 2 0 1.2373 0.3614 1.1832 newA newC"/>


<!-- DEBUG -->
<node pkg="rviz" type="rviz" name="rviz_ekf_utm" args="-d $(find robot_localization)/config/tf_example.rviz"/>

</launch>