<launch>

  <arg name="rviz"      default="true"/>
  <arg name="viz_veh"   default="true"/>
  <arg name="x_forward" default="false"/>

  <!-- Publish static transforms (base link to sensor links) -->
  <include file="$(find robot_localization)/launch/static_tf_publisher.launch">
    <arg name="x_forward_base" default="$(arg x_forward)"/>
  </include>

  <!-- Launch local EKF node (Odom frame) -->
  <node pkg="robot_localization" type="ukf_localization_node" name="ukf_local"
        clear_params="true" output="screen">
    <rosparam command="load" file="$(find robot_localization)/params/ukf_local.yaml"/>
    <!--  Remap published topic name -->
    <remap from="odometry/filtered" to="odometry/filtered_odom"/> 
  </node>

  <!-- RVIZ -->
  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz"
        args="-d $(find robot_localization)/viz/local.rviz"/>

  <!-- Visualize vehicle model -->
  <include if="$(arg viz_veh)" file="$(find erikviz)/launch/vehicle_model_publisher.launch">
    <arg name="x_forward_base" default="$(arg x_forward)"/>
  </include>

</launch> 
